/* definition image de fond et police par defaut */
html {
font-size: 100%;
font-family:Verdana, Arial;
margin:0;
padding:0;
}

body {
color:#000;
font-family:Verdana, Arial;
font-size:14px;
background:#fff;
margin:0;
padding:10px 20px;
}

/* Espace reserver au menu */
#menu_top {
background-color:#036;
width:800px;
height:40px;
margin:0;
padding:0
}

/* Pour le "id" et on peut l'utiliser qu'une seule fois*/
#gauche {
float:left
}

/* Pourle "class"
.ma_gauche {
  float:left;
}
inutile pour le moment car mis dans .validator*/

#droit {
float:right
}

#menu_top ul {
list-style:none;
margin:0;
padding:10px 5px
}

#menu_top li {
display:inline;
padding:0 8px
}

#menu_top a {
color:#fff;
text-decoration:none;
border:1px solid #036;
padding:6px 10px
}

#menu_top a:hover {
color:#fff;
background-color:#903;
border:1px solid #fff
}

#actif a {
color:#fff;
background-color:#903;
border:1px solid #07b
}

/*pied de page - autre:
#pied_de_page {
  background-color: #888888;
  width:800px;
  height:40px;
  text-align: center
}*/


/* Pied de page - banniere */
footer {
  position: absolute;
  bottom: 0;
  background-color: #888888;
  width:800px;
  /*height:40px;*/
  text-align: center;
  color: #FFFFFF
}

.validator {
  float: left;
  background-image: url(../images/valid-xhtml10-blue.png);
  width: 80px;
  height: 31px;
}

/* class pour le titre image "photo #X" */
.imgtitle {
  width: 175px;
  background-color: #336699;
  border-color: #336699;
  border-style: solid;
  border-width: 1px; /*on essaiera 0px*/
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}

/* class pour le bloc complet de l'image*/
.imgblock {
  border-style: solid;
  border-width: 1px;
  border-color: #336699;
  width: 175px;
  height: 200px;
  text-align: center;
  padding-top: 15px;
  }

/* class pour l'image*/
.imgimg {
  width: 120px;
}


/* class pour la banniere*/
.banniere {
  background-image: url(../images/banniere.png);
  height: 100px;
  width: 800px;
}

/* Partie pour le formulaire*/
